# Worksheet 02

Name:  Yuzhe Jiang

UID: U92913042

Link to my repo: https://github.com/jiangyz112/Data-Science-Fundamentals/tree/worksheet_02

### Topics

- Effective Programming

### Effective Programming

a) What is a drawback of the top down approach?

In a top-down approach, the initial focus is on the overall structure and high-level concepts, which may result in a lack of detailed understanding at the lower levels of the system. This will cause side effects at later stages.

b) What is a drawback of the bottom up approach?

Since the bottom-up approach begins with individual components or modules and focuses on gradually integrating them, it will lack of overall coherence.

c) What are 3 things you can do to have a better debugging experience?

Don't panic. Read the error. Re-read your code. Sanity check where you can. Look online for some help. Take breaks.

d) (Optional) Follow along with the live coding. You can write your code here:

## Exercise

This exercise will use the [Titanic dataset](https://www.kaggle.com/c/titanic/data) (https://www.kaggle.com/c/titanic/data). Download the file named `train.csv` and place it in the same folder as this notebook.

The goal of this exercise is to practice using [pandas](https://pypi.org/project/pandas/) methods. If your:

1. code is taking a long time to run
2. code involves for loops or while loops
3. code spans multiple lines

look through the pandas documentation for alternatives. This [cheat sheet](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf) may come in handy.

a) Complete the code below to read in a filepath to the `train.csv` and returns the DataFrame.

In [ ]:
import pandas as pd

df = pd.read_csv('train.csv')

df.describe()

b) Complete the code so it returns the number of rows that have at least one empty column value

In [ ]:
rows_with_empty_values = df[df.isnull().any(axis=1)]

# Print the count
print("There are " + str(len(rows_with_empty_values)) + " rows with at least one empty value.")

c) Complete the code below to remove all columns with more than 200 NaN values

In [ ]:
df = df.dropna(axis=1, thresh=200)
df.columns

d) Complete the code below to replaces `male` with 0 and `female` with 1

In [ ]:
df['Sex'] = df['Sex'].replace({'male': 0, 'female': 1})
df.head()

e) Complete the code below to add four columns `First Name`, `Middle Name`, `Last Name`, and `Title` corresponding to the value in the `name` column.

For example: `Braund, Mr. Owen Harris` would be: 

|First Name | Middle Name | Last Name | Title |
|-----------|-------------|-----------|-------|
| Owen      |  Harris     |  Braund   | Mr    |

Anything not clearly one of the above 4 categories can be ignored.

In [ ]:
name_split = df['Name'].str.extract(r'(?P<Last_Name>[\w\s]+),\s(?P<Title>\w+)\.\s(?P<First_Name>[\w\s]+)\s?(?P<Middle_Name>[\w\s]+)?')

# Assign the extracted values to the new columns
df[['First Name', 'Middle Name', 'Last Name', 'Title']] = name_split[['First_Name', 'Middle_Name', 'Last_Name', 'Title']]

df.head()

f) Complete the code below to replace all missing ages with the average age

In [ ]:
average_age = df['Age'].mean()
df['Age'] = df['Age'].fillna(average_age)

df.head()

g) Plot a bar chart of the average age of those that survived and did not survive. Briefly comment on what you observe.

In [ ]:
# Group by 'Survived' and calculate the average age for each group
average_age_by_survived = df.groupby('Survived')['Age'].mean()

# Plotting the bar chart
average_age_by_survived.plot(kind='bar', color=['red', 'green'])
plt.title('Average Age by Survival Status')
plt.xlabel('Survived')
plt.ylabel('Average Age')
plt.xticks([0, 1], ['Did not Survive', 'Survived'], rotation=0)
plt.show()

# Those who did not survive is older than those who did.